.wy-side-nav-search, .wy-nav-top {
    background: #ffffff;
}

.wy-side-nav-search>div.version{
    color: #000000;
}

.wy-side-nav-search>a.icon.icon-home{
    color: #000000;
}

.fa-bars{
    color: #000000;
}





div.highlight pre {
    white-space: pre-wrap !important;
    word-break: break-word !important;
    overflow-x: hidden !important;
}

div.highlight-bash div.highlight pre {
    white-space: pre-wrap !important;
    word-break: break-word !important;
    overflow-x: hidden !important;
}



