.wy-side-nav-search, .wy-nav-top {
    background: #ffffff;
}

.wy-side-nav-search>div.version{
    color: #000000;
}

.wy-side-nav-search>a.icon.icon-home{
    color: #000000;
}

.fa-bars{
    color: #000000;
}

div[class^="highlight-bash"] pre {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    overflow-x: visible !important;
    max-width: 100% !important;
}
.wy-nav-content {
    max-width: 1800px;
}
